<footer id="footer" class="clearfix">
  <div class="container clearfix">
    <div class="row">
      <div id="my_logowidget-2" class="span4">
        <a href="{{ site.baseurl }}" id="logo">
          <img src="{{ site.baseurl }}/assets/images/footer-logo.png" alt="Footer logo for {{ site.title }}" title="{{ site.title }}">
        </a>
        <div class="logo_desc">
        </div>
      </div>

      <div id="text-7" class="span4">
        <h2>Adres</h2>
        <div class="textwidget">
          <p>{{ site.address_street_name }}, {{ site.address_zip_code }} {{ site.address_town }} </p>
        </div>
      </div>

      <div class="span12">
        <div id="footer-text" class="copyrights">
          Copyright © {{ site.year }}. Alle rechten voorbehouden.     |    <a href="/privacy-policy">Privacybeleid</a>
        </div>
      </div>
    </div>
  </div>
</footer>


