---
layout: default
---
<div id="home-content" class="clearfix">
  <div class="container clearfix">
    <div class="row">
      <div class="span3"><ul class="list">
          {% for p in site.pages %}
          {% if p.title %}
          <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="span9">
        <div class="wrap_content">
          <div class="page type-page status-publish hentry">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="post">

  <header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  </div>
-->
