---
layout: default
---

{% if page.block-menu != false %}
<div id="home-content" class="clearfix">
  <div class="container clearfix">
    <div class="row">
      <div class="span3"><ul class="list">
          {% for p in site.pages %}
          {% if p.display-in-menu != false %}
          {% if p.title %}
          <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="span9">
        <div class="wrap_content">
          <div class="page type-page status-publish hentry">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}

<div class="container">
  <div class="clearfix">
    <div class="wrap_content">
      <div class="row">
        <div class="span12">

          <div id="post-15" class="page post-15 type-page status-publish hentry">

            <div class="row">
              <div class="span12"><h1>ons adres</h1>
                <div class="wrapIframe">
                  <h3>Bureau JIP</h3>
                  <p class="address">
                  Korteweegje 49, 3247 BH Dirksland<br />
                  Elly: <a href="callto:0623549707">0623549707</a><br />
                  Geertje: <a href="callto:0648734230">0648734230</a><br />
                  Email: <script type="text/javascript">/*<![CDATA[*/var a=new Array(".nl","jip","reau","bu","@","fo","in");document.write("<a href='mailto:");for(i=a.length-1;i>=0;i--){document.write(a[i])}document.write("?subject=Contact'>info@bureaujip.nl</a>");/*]]&gt;*/</script>
                  </p>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.1370410647237!2d4.1117941!3d51.748817599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c45ae88207b79d%3A0x26a4c718bd8d5207!2sBureau+Jip+(jeugd+in+problemen)!5e0!3m2!1sen!2snl!4v1433887799033" width="600" height="450" frameborder="0" style="border:0"></iframe></p>
                </div></div>
            </div> <!-- .row (end) -->
            <div class="spacer"><!-- --></div>
            <h2>Contactformulier</h2>
            <div class="wrap_cf">
              <div role="form" class="wpcf7" id="wpcf7-f29-p15-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form name="" action="http://formspree.io/geertje@bureaujip.nl" method="post" class="wpcf7-form" novalidate="novalidate">
                  <div class="clearfix">
                    <div class="leftPart">
                      <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Naam:" /></span> </p>
                      <p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="_replyto" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Emailadres:" /></span> </p>
                      <p><span class="wpcf7-form-control-wrap number-743"><input type="tel" name="number-743" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" aria-required="true" aria-invalid="false" placeholder="Telefoonnummer:" /></span></p>
                    </div>
                    <div class="rightPart">
                      <p><span class="wpcf7-form-control-wrap your-message"><textarea name="body" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Bericht:"></textarea></span> </p>
                    </div>
                    <p class="btnSubmit"><input type="submit" value="Verzend" class="wpcf7-form-control wpcf7-submit" /></p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!--
  <div class="post">

  <header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  </div>
-->
